.container{
    padding-top:70px;
}
.text-body {
    text-align: left;
    font-size: 19px;
    width:auto;
    height: auto;
}
.container img{
   width: 100%;
    height: auto;
}
.small_devices p{
    display: none;

}
.small_devices img{
    display: none;
}
@media (max-width: 991.98px) {
    .small_devices p {
        display: inline-block;
    }
    .text-body span {
        display: none;
    }
    .small_devices img {
        display: inline-block;
    }
    .large-image{
        display: none;
    }
    .xs h1{
        text-align: center;
    }
}